/* General */
body {
    width: 800px; 
    margin: 0 auto;
}

img {
    width: 200px;
    height: 200px;
    border: 1px solid #ddd;

}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

/* Layout */
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-image: url("images/phone_globe.jpg");
    background-repeat: no-repeat;
}

header, aside, main, footer {
  padding: 20px;
}

header {
  border: 5px solid black;
  border-bottom: 0;
}

footer {
  border: 5px solid black;
  border-top: 0;
  color: rgb(52, 47, 94);
}

footer h1 {
  font-style: italic;
  font-size: 3rem;
}

div {
    border: 5px solid black;
    display: flex;
}

.rotate img
{
  animation: rotation .3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}